body {
    background-color: #3c085af5;
    color: #ffffff;
}
p {
    font-size: 20px;
}
.izquierda {
    padding-right: 53%;
}
 .derecha {
    padding-left:53%
}
h1 {
    border:2px solid #ffffff;
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
}
h2 {
    text-decoration: underline;
}
hr {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border: none;
}
.titulo {
    text-align: center;
}
#costura1 {
    display: block;
    height: auto;
    float: right;
    height: 209px;
    width: 290px;
}
#costura2 {
    display: block;
    float: right;
    padding-right: 1%;
    height: 209px;
    width: 290px;
}
#trabajo {
    display: block;
    float: left;
    padding-right: 1%;
    height: 188px;
    width: 290px;
}
#trabajo1 {
    display: block;
    height: auto;
    float: left;
    height: 188px;
    width: 290px;
}
#lucha {
    display: block;
    height: auto;
    float: right;
    height: 170px;
    width: 290px;
}
#lucha1 {
    display: block;
    float: right;
    padding-right: 1%;
    height: 170px;
    width: 290px;
}
#voto {
    display: block;
    float: left;
    padding-right: 1%;
    height: 200px;
   width: 290px; 
}
#voto1 {
    display: block;
    height: auto;
    float: left;
    height: 200px;
    width: 290px;
}
#igualdad {
    display: block;
    height: auto;
    float: right;
    height: 190px;
    width: 290px;
}
#igualdad1 {
    display: block;
    float: right;
    padding-right: 1%;
    height: 190px;
    width: 290px;
}
#linea {
position:static, absolute;
    right: 42.5%;
    height: 1050px;
    width: 230px;
    top: 10%;
}
#triangulo1 {
    padding-bottom: 100%;
    padding-left: 47%;
    height: 50px;
    position: absolute;
    filter: sepia(5000%) hue-rotate(21832deg)
}
#triangulo2 {
    top: 77%;
    left: 47.6%;
    height: 50px;
    position: absolute;
    filter: sepia(5000%) hue-rotate(150deg)
}
#triangulo3 {
    top: 127%;
    left: 47.6%;
    height: 50px;
    position: absolute;
    filter: sepia(5000%) hue-rotate(15deg);
}
#trianguloi1 {
    position: absolute;
    left: 47.6%;
    height: 50px;
    top: 52%;
    transform: rotate(180deg);
    filter: sepia(5000%) hue-rotate(100deg)
}
#trianguloi2 {
    position: absolute;
    left: 47.6%;
    height: 50px;
    top: 102%;
    transform: rotate(180deg);
    filter: sepia(5000%) hue-rotate(10000deg);
}
@media (min-width: 1440px) {
    #voto {
        display: block;
        float: left;
        padding-right: 1%;
        height: 200px;
       width: 320px; 
    }

    #voto1 {
        display: block;
        height: auto;
        float: left;
        height: 200px;
        width: 320px;
    }
    #igualdad {
        display: block;
        height: auto;
        float: right;
        height: 190px;
        width: 320px;
    }
    #igualdad1 {
        display: block;
        float: right;
        padding-right: 1%;
        height: 190px;
        width: 320px;
    }
    #costura1 {
        display: block;
        height: auto;
        float: right;
        height: 209px;
        width: 320px;
    }
    #costura2 {
        display: block;
        float: right;
        padding-right: 1%;
        height: 209px;
        width: 320px;
    }
    #trabajo {
        display: block;
        float: left;
        padding-right: 1%;
        height: 188px;
        width: 320px;
    }
    #trabajo1 {
        display: block;
        height: auto;
        float: left;
        height: 188px;
        width: 320px;
    }
    #lucha {
        display: block;
        height: auto;
        float: right;
        height: 170px;
        width: 320px;
    }
    #lucha1 {
        display: block;
        float: right;
        padding-right: 1%;
        height: 170px;
        width: 320px;
    }
}  

@media (orientation: portrait) {
    #voto {
        display: block;
        float: left;
        padding-right: 1%;
        height: 200px;
       width: 200px;
       padding-top: 1%;
       padding-left: 20%;
    }

    #voto1 {
        display: block;
        height: auto;
        float: left;
        height: 200px;
       width: 200px;
       padding-top: 5%;
       padding-left: 20%;
       padding-bottom: 10px;
    }
    #igualdad {
        display: block;
        height: auto;
        float: right;
        height: 190px;
       width: 200px;
       padding-top: 1%;
       padding-right: 20%;
    }
    #igualdad1 {
        display: block;
        float: right;
        padding-right: 20%;
        height: 190px;
       width: 200px;
       padding-top: 5%;
    }
    #costura1 {
        display: block;
        height: auto;
        float: right;
        height: 180px;
       width: 200px;
       padding-top: 10%;
       padding-right: 20%;
    }
    #costura2 {
        display: block;
        float: right;
        padding-right: 1%;
        height: 180px;
       width: 200px;
       padding-top: 10%;
       padding-right: 20%;
       padding-bottom: 10px;
    }
    #trabajo {
        display: block;
        float: left;
        padding-right: 1%;
        height: 188px;
       width: 200px;
       padding-top: 1%;
       padding-left: 20%;
    }
    #trabajo1 {
        display: block;
        height: auto;
        float: left;
        height: 188px;
       width: 200px;
       padding-top: 10%;
       padding-left: 20%;
       padding-bottom: 10px;
    }
    #lucha {
        display: block;
        height: auto;
        float: right;
        height: 170px;
       width: 200px;
       padding-top: 2%;
       padding-right: 20%;
    }
    #lucha1 {
        display: block;
        float: right;
        padding-right: 1%;
        height: 170px;
       width: 200px;
       padding-top: 10%;
       padding-bottom: 10px;
       padding-right: 20%;
    }
}

    @media (min-width: 1980px) {
        #voto {
            display: block;
            float: left;
            padding-right: 1%;
            height: 200px;
           width: 320px;
           padding-right: 15%;
           padding-left: 10%;

        }
    
        #voto1 {
            display: block;
            height: auto;
            float: left;
            height: 200px;
            width: 320px;
        }
        #igualdad {
            display: block;
            height: auto;
            float: right;
            height: 190px;
            width: 320px;
            padding-right: 10%;
        }
        #igualdad1 {
            display: block;
            float: right;
            padding-right: 1%;
            height: 190px;
            width: 320px;
            padding-right: 15%;
        }
        #costura1 {
            display: block;
            height: auto;
            float: right;
            height: 209px;
            width: 400px;
            padding-right: 1%;
        }
        #costura2 {
            display: block;
            float: right;
            padding-right: 1%;
            height: 209px;
            width: 400px;
            padding-right: 10%;
        }
        #trabajo {
            display: block;
            float: left;
            padding-right: 1%;
            height: 188px;
            width: 320px;
            padding-right: 15%;
            padding-left: 10%;
        }
        #trabajo1 {
            display: block;
            height: auto;
            float: left;
            height: 188px;
            width: 320px;
        }
        #lucha {
            display: block;
            height: auto;
            float: right;
            height: 170px;
            width: 400px;
            padding-right: 1%;
        }
        #lucha1 {
            display: block;
            float: right;
            padding-right: 1%;
            height: 170px;
            width: 370px;
            padding-right: 10%;
        }
    }  
